

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nom et prénom</th>
        <th>E-mail</th>
        <th>Droits</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td><strong><input type="text" class="form-control" ng-model="admin.newUser.name"></strong></td>
        <td><input type="email" class="form-control" ng-model="admin.newUser.email"></td>
        <td></td>
        <td>
          <a ng-click="admin.register(admin.newUser)" class="btn btn-primary">
            <span class="fa fa-plus fa-lg"></span>
          </a>
        </td>
      </tr>
      <tr ng-repeat="user in admin.users | orderBy:'name'">
        <td><strong><input type="text" class="form-control" ng-model="user.name"></strong></td>
        <td><input type="email" class="form-control" ng-model="user.email"></td>
        <td>
          <select class="form-control" ng-model="user.role">
            <option value="admin">Administrateur</option>
            <option value="user">Salarié(e)</option>
          </select><br>
        </td>
        <td>
          <a ng-click="admin.update(user)" class="btn btn-default">
            <span class="fa fa-save fa-lg"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
