<div class="container">

  <div class="btn-group">
    <label class="btn btn-default" ng-model="gestion.type"
      ng-click="gestion.filter()" uib-btn-radio="'3'" ><strong>TOUS</strong></label>
    <label class="btn btn-danger" ng-model="gestion.type"
      ng-click="gestion.filter(2)" uib-btn-radio="'2'" ><strong>TERMINÉ</strong></label>
    <label class="btn btn-success" ng-model="gestion.type"
      ng-click="gestion.filter(0)" uib-btn-radio="'0'" ><strong>EN COURS</strong></label>
    <label class="btn btn-warning" ng-model="gestion.type"
      ng-click="gestion.filter(1)" uib-btn-radio="'1'" ><strong>A VENIR</strong></label>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nom et prénom</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Jours</th>
        <th>Statut</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>
          <select ng-model="gestion.newConge.user" class="form-control">
            <option ng-repeat="user in gestion.users" class="form-control" value="{{user._id}}">
              {{user.name}}
            </option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control " uib-datepicker-popup="dd/MM/yyyy"
            is-open="gestion.popupStartDate.opened" close-text="Close"
            ng-model="gestion.newConge.start"
            ng-click="gestion.openStartDate()"/>
        </td>
        <td>
          <input type="text" class="form-control " uib-datepicker-popup="dd/MM/yyyy"
            is-open="gestion.popupEndDate.opened" close-text="Close"
            ng-model="gestion.newConge.end"
            ng-click="gestion.openEndDate()"/>
        </td>
        <td>
          <input type="number" class="form-control" value="0"
          ng-model="gestion.newConge.duration" style="width:75px;">
        </td>
        <td></td>
        <td>
          <a ng-click="gestion.create()" class="btn btn-primary">
            <span class="fa fa-plus fa-lg"></span>
          </a>
        </td>
      </tr>

      <tr ng-repeat="conge in gestion.conges | orderBy:'startT'">
        <td>
          <input type="text"  class="form-control" ng-model="conge.worker.name" disabled>
        </td>
        <td>
          <input type="text"  class="form-control" ng-model="conge.startDate" disabled>
        </td>
        <td>
          <input type="text"  class="form-control" ng-model="conge.endDate" disabled>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="0"
          ng-model="conge.duration" disabled style="width:75px;">
        </td>
        <td>
          <a class="btn btn-success" ng-if="conge.status==0" disabled>
            <strong>EN COURS</strong>
          <a class="btn btn-danger" ng-if="conge.status==2" disabled>
            <strong>TERMINÉ</strong>
          <a class="btn btn-warning" ng-if="conge.status==1" disabled>
            <strong>A VENIR</strong>
        </td>
        <td>
          <a ng-click="gestion.suppr(conge)" class="btn btn-default">
            <span class="fa fa-trash fa-lg"></span>
          </a>
        </td>
      </tr>


    </tbody>
  </table>

</div>
